<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MobileAutomationTestSuite">
	<test thread-count="5" name="TestOnboarding">
		<classes>
			<class name="TestCase.Onboarding" />
		</classes>
	</test>
	<test thread-count="5" name="TestPlaySong">
		<classes>
			<class name="TestCase.PlaySong" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
